<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>


 <form id="form1"  action="/signup" method="post">
    <input type="text"  name = "name1"id="field1" placeholder="Name"><br>
    <input type="text" name="Rollno" id="field2" placeholder="Roll NO."><br>
   <input type ="submit">
   <input type=button onClick="location.href='show'"
   value='show data'>

    </form>
<p>For deleting the data</p>
 <form id="form1"  action="/delete" method="post">
    <input type="text" name="Rollno" id="field2" placeholder="Enter Roll NO."><br>
   <input type ="submit">

       </form>
       <p>For updating the data </p>
       <form id="form1"  action="/update" method="post">
        <input type="text"  name = "name1"id="field1" placeholder="Name"><br>
          <input type="text" name="Rollno" id="field2" placeholder="Enter Roll NO."><br>
         <input type ="submit">
      
             </form>
</body>
</html>
